[Unit]
Description=uWSGI instance to serve DEXP
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/dero.cash/DEXP
ExecStart=/usr/local/bin/uwsgi --ini dexp.ini

[Install]
WantedBy=multi-user.target
